{% extends "invex/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'users/css/verify_otp.css' %}">
  <div class="otp-form-container">
    <form method="POST" class="otp-form">
      {% csrf_token %}
      <h2>Email Verification</h2>
      <p>A 6-digit OTP has been sent to your email. Please enter it below:</p>
      {{ form.otp }}
      <button type="submit">Verify</button>
    </form>

    <div class="resend-section">
      <span id="countdown-text">You can resend in <span id="timer">15</span> seconds</span>
      <form method="POST" action="{% url 'resend-otp' %}">
        {% csrf_token %}
        <button type="submit" id="resend-btn">Resend OTP</button>
      </form>
    </div>
  </div>
  <script src="{% static 'users/js/verify_otp.js' %}"></script>
{% endblock %}
