{% extends "invex/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/css/view_shop.css' %}">

<div class="shop-table-container">

  {% if shops %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="page-title">Your Shops</h2>
    <a href="{% url 'create-shop' %}" class="btn btn-primary create-shop-btn">Create Another Shop</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Shops</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for shop in shops %}
      <tr>
        <td>
          <div class="shop-card ">
            <h5>{{ shop.shopName|title }}</h5>
            <p><strong>Shop ID:</strong> {{ shop.shopID }}</p>
            <p><strong>Type:</strong> {{ shop.type|title }}</p>
            <p><strong>Industry:</strong> {{ shop.industry|title }}</p>
            <p><strong>Location:</strong> {{ shop.location|title }}</p>

          </div>
        </td>
        <td class="align-middle text-center">
          <div class="action-card">            
            <a href="{% url 'shop-detail' shop.shopID %}" class="btn btn-primary mb-2" onclick="promptViewShopPassword('{{ shop.shopID }}'); return false;">View Shop</a><br>
            <button class="btn btn-danger" onclick="shutdownShop('{{ shop.shopID }}')">Shut Down</button>
          </div>          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <div class="text-center mt-5">
    <p class="text-muted">You have not created any shops yet.</p>
    <a href="{% url 'create-shop' %}" class="btn btn-primary">Create Your First Shop</a>
  </div>
  {% endif %}
</div>

<!-- Modal for password input -->
<div class="modal fade" id="viewShopPasswordModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="viewShopPasswordForm">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Enter Shop Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="viewShopID"/>
          <div class="mb-3">
            <label for="viewShopPasswordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="viewShopPasswordInput" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'users/js/view_shop.js' %}"></script>
{% endblock %}
